<p id="notice"><%= notice %></p>

<p>
  <b>Starts at:</b>
  <%= @game.starts_at %>
</p>

<p>
  <b>Ends at:</b>
  <%= @game.ends_at %>
</p>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
